.navigationBar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    min-width: fit-content;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.navigationBar-wrapper ul {
    display: flex;
    flex-direction: row;
}

.navigationBar-wrapper li {
    list-style: none;
}

.navigationBar-wrapper li a {
    display: inline-block;
    color: #ffff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.navigationBar-wrapper .active {
    font-weight: bold;
    font-size: 22px;
}

.userAction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAction-container p {
    margin-bottom: 4px;
}