.count-display button{
    border-radius: 0;
    font-size: 12px;
    padding: 2px 5px;
}

.count-display span {
    background-color: var(--background-white);
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
}